pydantic
pydantic-settings
motor
langchain
langfuse
langgraph
langgraph-checkpoint-sqlite
langchain-openrouter
langchain-openai
langchain-google-genai
pytest
pytest-asyncio
faststream[kafka]
faststream[cli]
uvicorn
boto3
google-cloud-vision
aiohttp
neo4j
google-cloud-bigquery
google-cloud-bigquery-storage
pyarrow