pydantic
pydantic-settings
motor
langchain
langfuse
langgraph
langchain-openrouter
langchain-openai
langchain-google-genai
pytest
pytest-asyncio
faststream[kafka]
faststream[cli]
uvicorn
boto3
google-cloud-vision
neo4j
google-cloud-bigquery
google-cloud-bigquery-storage
pyarrow